In [1]:
import folium 
import pandas as pd 
import warnings 
warnings.filterwarnings("ignore") 
country_geo = r"K:\DATA SCIENCE\DataSets\TopMentor Datasets\data\world-countries.json"

In [3]:
data = pd.read_csv(r"K:\DATA SCIENCE\DataSets\TopMentor Datasets\data\Indicators.bz2", compression='bz2') 
data.shape

(5656458, 6)

In [4]:
data.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [5]:
#Select CO2 emissions for all countries in 2011 
hist_indicator = 'CO2 emissions \(metric' 
hist_year = 2011 
mask1 = data['IndicatorName'].str.contains(hist_indicator) 
mask2 = data['Year'].isin([hist_year]) 
# Apply our mask 
stage = data[mask1 & mask2] 
stage.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
5026275,Arab World,ARB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,4.724500
5026788,Caribbean small states,CSS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,9.692960
5027295,Central Europe and the Baltics,CEB,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,6.911131
5027870,East Asia & Pacific (all income levels),EAS,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.859548
5028456,East Asia & Pacific (developing only),EAP,CO2 emissions (metric tons per capita),EN.ATM.CO2E.PC,2011,5.302499

In [7]:
#Setup the data for plotting 
#Create a data frame with just the country codes and the values we want to be plotted. 
plot_data = stage[['CountryCode','Value']] 
plot_data.head() 
# Label for the legend 
hist_indicator = stage.iloc[0]['IndicatorName'] 
print(hist_indicator)

CO2 emissions (metric tons per capita)

In [8]:
#Visualize CO2 emissions per capita using Folium 
#Folium provides interactive maps with the ability to create sophisticated 
# overlays for data visualization 
#Setup a folium map at a high-level zoom. 
map = folium.Map(location=[100, 0], zoom_start=1.5) 
 
#Choropleth maps bind Pandas Data Frames and json geometries. 
# This allows us to quickly visualize data combinations 
map.choropleth(geo_data=country_geo, data=plot_data,columns=['CountryCode', 'Value'], 
             key_on='feature.id',fill_color='YlGnBu', fill_opacity=0.7, line_opacity=0.2, legend_name=hist_indicator)

In [21]:
# Create Folium plot 
map.save('plot_data1.html')

In [20]:
# Import the Folium interactive html file 
from IPython.display import HTML 
HTML('<iframe src="plot_data1.html" width=700 height=450></iframe>')